In [159]:
import numpy as np
import pandas as pd
import scipy as sp
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [140]:
bit2014 = pd.read_csv('BIT2014.csv')

In [141]:
bit2014.head()

,course_id,course_name,a,b,c,d,e,f,g,h,i,j,k,l
0,3MA204,Linear Algebra,6,3,0,0,2,0,0,0,1,2,0,0
1,3IT201,Descrete Mathematics,9,5,5,4,9,0,0,0,6,0,3,3
2,3IT202,Data Structures,2,0,3,0,3,0,0,0,0,0,6,6
3,3IT203,Processor Architechture,1,2,7,0,1,0,0,0,1,0,1,2
4,3IT204,Data Communication and Networking,4,9,5,0,0,0,3,0,0,0,0,0

In [142]:
bit2014.sort_values('course_id',inplace=True)

In [143]:
bit2014 = bit2014.reset_index().drop(['index'],axis=1)

In [144]:
bit2014

,course_id,course_name,a,b,c,d,e,f,g,h,i,j,k,l
0,3IT201,Descrete Mathematics,9,5,5,4,9,0,0,0,6,0,3,3
1,3IT202,Data Structures,2,0,3,0,3,0,0,0,0,0,6,6
2,3IT203,Processor Architechture,1,2,7,0,1,0,0,0,1,0,1,2
3,3IT204,Data Communication and Networking,4,9,5,0,0,0,3,0,0,0,0,0
4,3IT211,Theory of Computation,3,5,4,0,6,0,5,2,0,0,3,2
5,3IT212,Computer Organization and Architechture,0,2,6,0,5,0,0,0,0,1,1,2
6,3IT213,Computer and Wireless Networks,0,0,7,0,6,0,0,2,0,1,0,3
7,3IT214,System Programming,0,2,3,0,5,0,0,0,0,0,3,3
8,3IT252,Data Structures Lab,3,0,5,6,3,0,0,0,0,0,6,8
9,3IT253,Processor Architechture Lab,1,2,7,0,1,0,0,0,1,0,1,2
10,3IT255,Programming Lab - I,0,2,3,0,5,0,0,0,0,0,5,3
11,3IT263,Computer and Wireless Networks Lab,0,0,7,0,6,0,0,2,0,1,0,3
12,3IT265,Programming Lab - II,0,2,3,0,5,0,0,0,0,0,5,3
13,3IT281,Mini Project - I,0,0,3,0,4,0,0,0,0,0,6,5
14,3IT282,Mini Project - II,0,0,3,0,4,0,0,0,0,0,6,5
15,3IT301,Database Engineering,5,0,2,0,0,0,0,2,0,0,0,3
16,3IT302,Software Engineering Design,5,1,0,1,2,0,0,0,0,0,0,2
17,3IT303,Operating System,0,0,2,0,3,0,0,0,0,0,7,2
18,3IT304,Computer Algorithm,3,5,0,0,3,0,0,0,0,0,0,3
19,3IT312,Cloud Computing,3,0,2,3,3,0,0,0,0,0,0,3
20,3IT313,Computer Graphics & Multimedia,3,0,5,0,0,0,0,0,0,0,3,2
21,3IT321,Advanced Database Engineering,0,3,2,0,5,0,2,0,0,0,0,1
22,3IT322,Unix Operating System,0,2,3,3,0,0,0,0,2,0,0,2
23,3IT323,Information Theory,1,2,2,3,0,0,0,0,0,0,0,3
24,3IT324,Information Storage and Management,2,2,3,0,1,0,0,0,0,0,0,3
25,3IT331,Machine Learning,6,5,0,2,0,0,0,0,0,0,0,0
26,3IT333,IoT systems and applications,3,0,0,6,1,0,0,0,0,2,0,0
27,3IT341,Mini-Project III,0,3,0,0,2,0,1,0,0,2,2,1
28,3IT342,Mini Project - IV,0,3,0,0,2,0,1,0,0,2,3,1
29,3IT351,Database Engineering Lab,0,3,2,0,2,0,0,1,0,0,2,2
30,3IT352,Web Technology,0,2,1,0,3,0,3,0,0,0,0,5
31,3IT371,Unix Operating System Lab,0,5,0,5,1,0,0,0,0,0,0,2
32,3IT372,ParalleL Programming Lab,3,3,3,0,7,0,0,0,0,0,0,0
33,3MA204,Linear Algebra,6,3,0,0,2,0,0,0,1,2,0,0
34,3MA215,Statistics and Fuzzy Systems,6,3,0,0,2,0,0,0,1,2,0,0

In [145]:
student = pd.read_csv('student_2014BIT035.csv')
student.sort_values('course_id',inplace=True)
student = student.reset_index().drop(['index'],axis=1)

In [146]:
student

   course_id                              course_name grade
0     3IT201                     Descrete Mathematics    BB
1     3IT202                          Data Structures    AB
2     3IT203                  Processor Architechture    BC
3     3IT204        Data Communication and Networking    BC
4     3IT211                    Theory of Computation    AB
5     3IT212  Computer Organization and Architechture    CC
6     3IT213           Computer and Wireless Networks    BC
7     3IT214                       System Programming    BC
8     3IT252                      Data Structures Lab    AA
9     3IT253              Processor Architechture Lab    AB
10    3IT255                      Programming Lab - I    AA
11    3IT263       Computer and Wireless Networks Lab    BC
12    3IT265                     Programming Lab - II    AA
13    3IT281                         Mini Project - I    AA
14    3IT282                        Mini Project - II    AA
15    3IT301                     Database Engineering    AB
16    3IT302              Software Engineering Design    BC
17    3IT303                         Operating System    BB
18    3IT304                      Computer Algorithm     BB
19    3IT312                         Cloud Computing     BC
20    3IT313           Computer Graphics & Multimedia   NIL
21    3IT321            Advanced Database Engineering    AB
22    3IT322                    Unix Operating System    BB
23    3IT323                       Information Theory    BB
24    3IT324       Information Storage and Management    CC
25    3IT331                        Machine Learning     AA
26    3IT333             IoT systems and applications   NIL
27    3IT341                         Mini-Project III    AA
28    3IT342                        Mini Project - IV    AA
29    3IT351                 Database Engineering Lab    AB
30    3IT352                           Web Technology    AB
31    3IT371                Unix Operating System Lab    AA
32    3IT372                 ParalleL Programming Lab    AA
33    3MA204                           Linear Algebra    CC
34    3MA215             Statistics and Fuzzy Systems    CC

In [147]:
def gradeToScore(grade):
    score = {
        'AA':10,
        'AB':9,
        'BB':8,
        'BC':7,
        'CC':6,
        'CD':5,
        'DD':4,
        'NIL':0
        
    }
    return score[grade]

In [148]:
student['score'] = student['grade'].apply(gradeToScore)

In [149]:
student.head()

  course_id                        course_name grade  score
0    3IT201               Descrete Mathematics    BB      8
1    3IT202                    Data Structures    AB      9
2    3IT203            Processor Architechture    BC      7
3    3IT204  Data Communication and Networking    BC      7
4    3IT211              Theory of Computation    AB      9

In [150]:
applicablePO = bit2014.drop(['course_id','course_name'],axis=1)

In [151]:
for i in range(0,len(applicablePO)):
    isApplicable = 0
    if student.loc[i]['score']!=0:
        isApplicable=1
    applicablePO.loc[i]*=isApplicable

In [152]:
result = applicablePO.copy()

In [153]:
for i in range(0,len(result)):
    result.loc[i]*=student.loc[i]['score']

In [154]:
result.head()

    a   b   c   d   e  f   g   h   i  j   k   l
0  72  40  40  32  72  0   0   0  48  0  24  24
1  18   0  27   0  27  0   0   0   0  0  54  54
2   7  14  49   0   7  0   0   0   7  0   7  14
3  28  63  35   0   0  0  21   0   0  0   0   0
4  27  45  36   0  54  0  45  18   0  0  27  18

In [155]:
result.sum()

a    498
b    635
c    756
d    238
e    851
f      0
g    131
h     73
i     92
j     84
k    552
l    715
dtype: int64

In [156]:
applicablePO.sum()

a     63
b     76
c     93
d     27
e    101
f      0
g     15
h      9
i     12
j     11
k     60
l     83
dtype: int64

In [157]:
prowessIndex = result.sum()/applicablePO.sum()*10
prowessIndex.fillna(0)

a    79.047619
b    83.552632
c    81.290323
d    88.148148
e    84.257426
f     0.000000
g    87.333333
h    81.111111
i    76.666667
j    76.363636
k    92.000000
l    86.144578
dtype: float64

- a)An Ability to apply knowledge of mathematics, science and engineering.
- b) An ability to design and conduct experiments as well as interpret data.
- c) An ability to design a system, component or process to meet desired need within realistic contraints such as economic,environmental, social, political, ethical, health and safety, manufacturability and sustanability.
- d) An ability to function on multidiscplinary teams.
- e) An ability to identify, formulate and solve engineering problems.
- f) An understanding of professional and ethical responsibility.
- g) An ability to comminicate effectively.
- h) The broad education necessary to understand the impact of engineering solutions in a global, economic, environmental and societal context.
- i) A recognition of the need for, and an ability to engage in life-long learning.
- j) A knowledge of contemporary issues.
- k) An ability to use the techniques, skills and modern engineering tools necessary for engineering practice.
- l) An ability to effectively integrate IT based solutions. (P.S.P.O)

In [158]:
np.average(np.array(prowessIndex.dropna()))

83.265042989630402